<!-- This is a sample launch file, please change it based on your needs -->

<launch>

	<!-- DRIVERS -->
    <node pkg="media_xbmc_ip_driver"
			name="xbmc_salon"
			type="media_xbmc_ip_driver"
			args="org.rosmultimedia.player.xbmc.XbmcNode"
			output="screen">
		<param name="rate" value="1" />
		<param name="mac" value="{your_kodi_mac}" />
		<param name="ip" value="{your_kodi_ip}" />
		<param name="tf_prefix" value="xbmc_salon" />
	</node>

</launch>
